<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.slideshow" android:installLocation="internalOnly">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Base.AppCompat.Light.NoActionBar">

        <activity
            android:name=".SlideShowActivity" android:launchMode="singleTask"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" >
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
        </activity>

        <activity android:name=".SettingsActivity" android:parentActivityName=".SlideShowActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.test.slideshow.FullscreenActivity"/>
        </activity>

        <receiver android:name=".receivers.AlarmReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.ChargingReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>


    </application>

</manifest>
